@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('http://localhost/NectarOfService/assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'hammer-smith-one';
    src: local('hammer-smith-one'), url('http://localhost/NectarOfService/assets/fonts/HammersmithOne-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body {
    font-family: 'inter';
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

hr {
    border: 1px solid #000;
    margin-bottom: 1rem;
}

header {
    background: #ffc900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    text-align: left;
    border-radius: 15px;
    border: 4px solid #000;
    border-bottom: 2px solid #000;
    color: #000;
    grid-column: 1 / -1;
    /* Span across all columns */
}

header h3 {
    padding: 0.5rem;
}

button,
input[type="submit"] {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    padding: 12px 40px;
}

button:active,
input[type="submit"]:active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

.sidebar {
    background: #ffc900;
    border-radius: 15px;
    border: 2px solid #000;
    border-left: 4px solid #000;
    border-bottom: 4px solid #000;
    font-weight: 600;
    padding: 20px;
    z-index: 100;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s ease;
}


.main-content {
    max-height: 86.9vh;
    padding: 20px;
    color: #000;
    background-color: #ffffe5;
    overflow-y: auto;
    /* Add scrollbar if content overflows vertically */
    border: 2px solid #000;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-radius: 15px;
    scroll-behavior: smooth;
    font-family: 'hammer-smith-one';
}

.main-content h2 {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.main-content::-webkit-scrollbar {
    width: 10px;
}

.main-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 115px;
}

.main-content::-webkit-scrollbar-thumb:hover {
    background: #000;
}

/* Admin Login */
.admin-login {
    background-color: #ffc900;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    font-family: 'inter';
}
.admin-login h3 {
    position:absolute;
    text-align: end;
    font-size:1.5rem;
    border-bottom: 3px solid #000;
    width: 67.5%;
    padding:0.5rem;
    top:0;
    margin: 1rem;
}

#patternId {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    z-index: -1;
    border-right: 3px solid #000;
}
.admin-login .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 18%;
    font-family: 'inter';
    background-color: #ffc900;
    width: 30%;
}

.login-container h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.login-container p {
    margin-bottom: 1rem;
    font-weight: 600;
    color:#3d320d;
}

.login-container input {
    margin-top: 0.5rem;
    padding: 10px;
    width: 80%;
    border: 2px solid #000;
    border-radius: 2px;
    font-family: 'inter';
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #ffffe5;
}

.login-container label {
    font-size: 1.4rem;
    font-weight: 500;
}

.login-container button{
    font-weight: 600;
    padding:1rem 3rem;
    font-size: 1.4rem;
}
/**/
.admin_campaign_message_bar {
    grid-column: 1 / -1;
    bottom: 0rem;
    left: 0;
    height: 6.9vh;
    width: 100%;
    background-color: #ffc900;
    border-radius: 15px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-left: 4px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
}

.admin_campaign_message_bar p {
    color: black;
    font-weight: 600;
    border-right: 2px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding-right: 1rem;
}