@font-face {
	font-family: 'Inter';
	src: local('Inter'), url('http://localhost/NectarOfService/assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}
@font-face {
	font-family: 'hammer-smith-one';
	src: local('hammer-smith-one'), url('http://localhost/NectarOfService/assets/fonts/HammersmithOne-Regular.ttf') format('truetype');
}
/* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'inter';
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 150px 1fr; /* Sidebar and Main Content */
    grid-template-rows: auto 1fr; /* Header and Main Content */
    min-height: 100vh;
}

hr {
    border: 1px solid #000;
    margin-bottom: 1rem;
}

/* Header Styles */
header {
    background: #ffc900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    text-align: left;
    border-radius: 15px;
    border: 4px solid #000;
    border-bottom:2px solid #000;
    color: #000;
    grid-column: 1 / -1; /* Span across all columns */
}

header h3 { 
    padding: 0.5rem;
}

header button {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    padding: 12px 40px;
  }
  
header button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }

/* Sidebar Styles */
.sidebar {
    background: #ffc900;
    border-radius: 15px;
    border: 2px solid #000;
    border-left: 4px solid #000;
    border-bottom: 4px solid #000;
    font-weight: 600;
    padding: 20px;
    z-index: 100;
    grid-column: 1 / 2; /* Sidebar occupies the first column */
    grid-row: 2 / -1; /* Sidebar spans from the second row to the end */
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s ease;
}


/* Main Content Styles */
.main-content {
    max-height: 86.9vh;
    padding: 20px;
    color:#000;
    background-color: #ffffe5;
    overflow-y: auto; /* Add scrollbar if content overflows vertically */
    border: 2px solid #000;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-radius: 15px;    
    scroll-behavior: smooth;
    font-family: 'hammer-smith-one';
}

.main-content h2 {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

/* Webkit browsers like Chrome, Safari */
.main-content::-webkit-scrollbar {
width: 10px;
}

.main-content::-webkit-scrollbar-thumb {
background: #888; 
border-radius:115px; /* Make the scrollbar more curved */
}

.main-content::-webkit-scrollbar-thumb:hover {
background: #000; 
}
